Repository sboh1214/Hwp-Swift: changes, and which pre-commit hooks are due for each by the changed paths.
All: swift-lint, markdown-lint, swift-test

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: swift-lint
        name: swift-lint
        entry: swiftlint
        language: system
        files: '\.swift$'
        pass_filenames: false

      - id: markdown-lint
        name: markdown-lint
        entry: mdl
        language: system
        files: '\.md$'
        pass_filenames: false

      # - id: generate
      #   name: swift-generate
      #   entry: swift test --generate-linuxmain
      #   language: system
      #   files: '\.swift$'
      #   pass_filenames: false
      #   modifiable: true

      - id: swift-test
        name: swift-test
        entry: swift test
        language: system
        files: '\.swift$'
        pass_filenames: false

modify paragraph
  Sources/CoreHwp/Models/Section/HwpParagraph.swift
  Tests/CoreHwpTests/Noori/NooriSectionTests.swift
Due: swift-lint, swift-test

parse SectionDef
  Sources/CoreHwp/Enums/Ctrl Id/HwpCtrlId.swift
  Sources/CoreHwp/Models/Section/Ctrl Header/HwpPageNumberPosition.swift
  Sources/CoreHwp/Models/Section/Ctrl Header/SectionDef/HwpFootnoteShape.swift
  Sources/CoreHwp/Models/Section/Ctrl Header/SectionDef/HwpPageBorderFill.swift
  Sources/CoreHwp/Models/Section/Ctrl Header/SectionDef/HwpPageDef.swift
  Sources/CoreHwp/Models/Section/Ctrl Header/SectionDef/HwpSectionDef.swift
  Sources/CoreHwp/Models/Section/HwpParagraph.swift
  Sources/CoreHwp/Utils/Character+Extension.swift
  Sources/CoreHwp/Utils/Type.swift
Due: swift-lint, swift-test

Update issue templates
  .github/ISSUE_TEMPLATE/question.md
Due: markdown-lint

Update issue templates (#35)
  .github/ISSUE_TEMPLATE/question.md
Due: markdown-lint

add test file, add HwpFromUInt32
  Package.swift
  Sources/CoreHwp/HwpError.swift
  Sources/CoreHwp/HwpFile.swift
  Sources/CoreHwp/Models/FileHeader/HwpFileLicense.swift
  Sources/CoreHwp/Models/FileHeader/HwpFileProperty.swift
  Sources/CoreHwp/Streams/HwpFileHeader.swift
  Sources/CoreHwp/Utils/Extensions/Array+Extension.swift
  Sources/CoreHwp/Utils/Extensions/Character+Extension.swift
  Sources/CoreHwp/Utils/Extensions/Data+Extension.swift
  Sources/CoreHwp/Utils/Extensions/UInt32+Extension.swift
  Sources/CoreHwp/Utils/Extensions/UInt8+Extension.swift
  Sources/CoreHwp/Utils/HwpPrimitive.swift
  Sources/CoreHwp/Utils/Protocols/HwpFromData.swift
  Sources/CoreHwp/Utils/Protocols/HwpFromDataWithVersion.swift
  Sources/CoreHwp/Utils/Protocols/HwpFromRecord.swift
  Sources/CoreHwp/Utils/Protocols/HwpFromRecordWithVersion.swift
  Sources/CoreHwp/Utils/Protocols/HwpFromUInt32.swift
  Sources/CoreHwp/Utils/Protocols/HwpPrimitive.swift
  Sources/CoreHwp/Utils/Readers/BitsReader.swift
  Sources/CoreHwp/Utils/Readers/DataReader.swift
  Sources/CoreHwp/Utils/Readers/StreamReader.swift
  Sources/CoreHwp/Utils/Type.swift
  Tests/CoreHwpTests/Blank/BlankTests.swift
  Tests/CoreHwpTests/Blank/Create2014Tests.swift
  Tests/CoreHwpTests/Blank/Create2018Tests.swift
  Tests/CoreHwpTests/FileHeader/CCL.hwp
  Tests/CoreHwpTests/FileHeader/공공누리.hwp
  Tests/CoreHwpTests/FileHeader/문서암호설정-보안수준높음.hwp
  Tests/CoreHwpTests/FileHeader/문서암호설정-보안수준보통.hwp
  Tests/CoreHwpTests/FileHeader/문서이력관리.hwp
  Tests/CoreHwpTests/FileHeader/배포용문서.hwp
  Tests/CoreHwpTests/FileHeader/변경내용추적.hwp
  Tests/CoreHwpTests/Noori/NooriDocInfoTests.swift
  Tests/CoreHwpTests/Noori/NooriPreviewTests.swift
  Tests/CoreHwpTests/Noori/NooriSectionTests.swift
  Tests/CoreHwpTests/Utils.swift
  Tests/CoreHwpTests/Versions/VersionTests.swift
Due: swift-lint, swift-test

fix to littleEndian
  Package.swift
  Sources/CoreHwp/HwpFile.swift
  Sources/CoreHwp/Models/FileHeader/HwpFileLicense.swift
  Sources/CoreHwp/Models/FileHeader/HwpFileProperty.swift
  Sources/CoreHwp/Streams/HwpFileHeader.swift
  Sources/CoreHwp/Utils/Extensions/UInt32+Extension.swift
  Sources/CoreHwp/Utils/Readers/BitsReader.swift
  Tests/CoreHwpTests/Blank/Create2014Tests.swift
  Tests/CoreHwpTests/Blank/Create2018Tests.swift
  Tests/CoreHwpTests/HwpUtilTests.swift
  Tests/CoreHwpTests/Noori/NooriDocInfoTests.swift
  Tests/CoreHwpTests/Noori/NooriPreviewTests.swift
  Tests/CoreHwpTests/Noori/NooriSectionTests.swift
  Tests/CoreHwpTests/Utils.swift
Due: swift-lint, swift-test

add test code
  Tests/CoreHwpTests/FileHeader/FileHeaderTests.swift
Due: swift-lint, swift-test

apply swiftlint
  Sources/CoreHwp/HwpFile.swift
  Tests/CoreHwpTests/FileHeader/FileHeaderTests.swift
Due: swift-lint, swift-test

add test
  Sources/CoreHwp/Utils/Readers/BitsReader.swift
  Sources/CoreHwp/Utils/Type.swift
  Tests/CoreHwpTests/HwpUtilTests.swift
Due: swift-lint, swift-test

modify structure
  .github/structure/Structure.key
  .github/structure/Structure.png
Due: none

add release drafter
  .github/workflows/Documentation.yml
Due: none

add more complicated release drafter
  .github/release-drafter.yml
  Package.swift
Due: swift-lint, swift-test

remove unused pre-commit
  .pre-commit-config.yaml
Due: none

run only if swift file changed
  .github/workflows/Coverage.yml
  .github/workflows/Documentation.yml
  .github/workflows/Lint.yml
  .github/workflows/Test.yml
Due: none

Prepare Beta Release (#37)
  .github/release-drafter.yml
  .github/structure/Structure.key
  .github/structure/Structure.png
  .github/workflows/Coverage.yml
  .github/workflows/Documentation.yml
  .github/workflows/Lint.yml
  .github/workflows/Test.yml
  .pre-commit-config.yaml
  Package.swift
Due: swift-lint, swift-test

Update LICENSE
  LICENSE
Due: none

crop image
  .github/structure/Structure.png
Due: none

Edit README
  .github/i18n/en/README.md
Due: markdown-lint

remove unnecessary env
  .github/workflows/Coverage.yml
Due: none

change tests from XCTAssert to expect toBe
  .swiftlint.yml
  Package.swift
  Sources/CoreHwp/Models/Section/Ctrl Header/HwpColumn.swift
  Tests/CoreHwpTests/Blank/BlankTests.swift
  Tests/CoreHwpTests/Blank/Create2014Tests.swift
  Tests/CoreHwpTests/Blank/Create2018Tests.swift
  Tests/CoreHwpTests/FileHeader/FileHeaderTests.swift
  Tests/CoreHwpTests/HwpUtilTests.swift
  Tests/CoreHwpTests/Noori/NooriDocInfoTests.swift
  Tests/CoreHwpTests/Noori/NooriPreviewTests.swift
  Tests/CoreHwpTests/Noori/NooriSectionTests.swift
  Tests/CoreHwpTests/Versions/VersionTests.swift
  Tests/CoreHwpTests/XCTestManifests.swift
Due: swift-lint, swift-test

update SECURITY
  SECURITY.md
Due: markdown-lint

Update LICENSE, Translation (#38)
  .github/i18n/en/README.md
  .github/structure/Structure.png
  .github/workflows/Coverage.yml
  LICENSE
  SECURITY.md
Due: markdown-lint

Change to Korean
  .github/i18n/en/CONTRIBUTING.md
  .github/i18n/en/SECURITY.md
  README.md
Due: markdown-lint

Add Test (#39)
  .github/i18n/en/CONTRIBUTING.md
  .github/i18n/en/SECURITY.md
  .swiftlint.yml
  Package.swift
  README.md
  Sources/CoreHwp/Models/Section/Ctrl Header/HwpColumn.swift
  Tests/CoreHwpTests/Blank/BlankTests.swift
  Tests/CoreHwpTests/Blank/Create2014Tests.swift
  Tests/CoreHwpTests/Blank/Create2018Tests.swift
  Tests/CoreHwpTests/FileHeader/FileHeaderTests.swift
  Tests/CoreHwpTests/HwpUtilTests.swift
  Tests/CoreHwpTests/Noori/NooriDocInfoTests.swift
  Tests/CoreHwpTests/Noori/NooriPreviewTests.swift
  Tests/CoreHwpTests/Noori/NooriSectionTests.swift
  Tests/CoreHwpTests/Versions/VersionTests.swift
  Tests/CoreHwpTests/XCTestManifests.swift
Due: swift-lint, markdown-lint, swift-test

Update SECURITY.md
  SECURITY.md
Due: markdown-lint

Change to Korean
  SECURITY.md
Due: markdown-lint

Update SECURITY.md (#40)
  SECURITY.md
Due: markdown-lint

Fix README
  README.md
Due: markdown-lint

Update Test.yml
  .github/workflows/Test.yml
Due: none

Remove **.swift
  .github/workflows/Coverage.yml
  .github/workflows/Documentation.yml
  .github/workflows/Lint.yml
  .github/workflows/Test.yml
Due: none

Update workflow deps version
  .github/workflows/Coverage.yml
  .github/workflows/Lint.yml
  .github/workflows/Test.yml
Due: none

Change to PascalCase
  CONTRIBUTING.md
Due: markdown-lint

Fix Workflows (remove swift condition) (#42)
  .github/workflows/Coverage.yml
  .github/workflows/Documentation.yml
  .github/workflows/Lint.yml
  .github/workflows/Test.yml
  CONTRIBUTING.md
Due: markdown-lint

Change this and official in Test
  Tests/CoreHwpTests/Blank/Create2014Tests.swift
  Tests/CoreHwpTests/Blank/Create2018Tests.swift
  Tests/CoreHwpTests/Utils.swift
Due: swift-lint, swift-test

Remove count property in HwpFile.docInfo
  Sources/CoreHwp/Models/DocInfo/HwpIdMappings.swift
  Tests/CoreHwpTests/Noori/NooriDocInfoTests.swift
Due: swift-lint, swift-test

Fix HwpFile.init() with sectionArray
  Sources/CoreHwp/Models/DocInfo/HwpIdMappings.swift
  Sources/CoreHwp/Models/Section/Ctrl Header/HwpColumn.swift
  Sources/CoreHwp/Models/Section/Ctrl Header/SectionDef/HwpFootnoteShape.swift
  Sources/CoreHwp/Models/Section/Ctrl Header/SectionDef/HwpPageBorderFill.swift
  Sources/CoreHwp/Models/Section/Ctrl Header/SectionDef/HwpPageDef.swift
  Sources/CoreHwp/Models/Section/Ctrl Header/SectionDef/HwpSectionDef.swift
  Sources/CoreHwp/Models/Section/HwpParaCharShape.swift
  Sources/CoreHwp/Models/Section/HwpParagraph.swift
  Sources/CoreHwp/Streams/HwpPreviewText.swift
  Tests/CoreHwpTests/Blank/Create2018Tests.swift
Due: swift-lint, swift-test

Fix Creating HwpFile, Change API in HwpDocInfo (#41)
  README.md
  Sources/CoreHwp/Models/DocInfo/HwpIdMappings.swift
  Sources/CoreHwp/Models/Section/Ctrl Header/HwpColumn.swift
  Sources/CoreHwp/Models/Section/Ctrl Header/SectionDef/HwpFootnoteShape.swift
  Sources/CoreHwp/Models/Section/Ctrl Header/SectionDef/HwpPageBorderFill.swift
  Sources/CoreHwp/Models/Section/Ctrl Header/SectionDef/HwpPageDef.swift
  Sources/CoreHwp/Models/Section/Ctrl Header/SectionDef/HwpSectionDef.swift
  Sources/CoreHwp/Models/Section/HwpParaCharShape.swift
  Sources/CoreHwp/Models/Section/HwpParagraph.swift
  Sources/CoreHwp/Streams/HwpPreviewText.swift
  Tests/CoreHwpTests/Blank/Create2014Tests.swift
  Tests/CoreHwpTests/Blank/Create2018Tests.swift
  Tests/CoreHwpTests/Noori/NooriDocInfoTests.swift
  Tests/CoreHwpTests/Utils.swift
Due: swift-lint, markdown-lint, swift-test

Change Init
  Package.swift
  Sources/CoreHwp/HwpError.swift
  Sources/CoreHwp/HwpFile.swift
  Tests/CoreHwpTests/Utils.swift
Due: swift-lint, swift-test
